In [2]:
print("Hello world!")

Hello world!

In [3]:
hello = 'Hello world!'

In [8]:
hello

'Hello world!'

# SQL and Python Intro

A *notebook* example to execute **SQL** statements in **Python**

In [17]:
from sqlalchemy import create_engine
import pandas as pd

In [16]:
!pip install sqlalchemy
!pip install pandas
!pip install mysqlclient

Requirement already satisfied: sqlalchemy in c:\users\sambi\anaconda3\envs\isba_4715_sql\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sambi\anaconda3\envs\isba_4715_sql\lib\site-packages (from sqlalchemy) (2.0.1)
Collecting pandas
  Downloading pandas-1.5.2-cp39-cp39-win_amd64.whl (10.9 MB)
     ---------------------------------------- 10.9/10.9 MB 2.6 MB/s eta 0:00:00
Collecting numpy>=1.20.3
  Downloading numpy-1.24.1-cp39-cp39-win_amd64.whl (14.9 MB)
     ---------------------------------------- 14.9/14.9 MB 3.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sambi\anaconda3\envs\isba_4715_sql\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sambi\anaconda3\envs\isba_4715_sql\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\sambi\anaconda3\envs\isba_4715_sql\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.24.1 pandas-1.5.2

In [23]:
engine = create_engine('mysql+mysqldb://lontoklm_dba:isba_4715@lontok.lmu.build/lontoklm_SalesOrders')

In [32]:
products_sql = '''
SELECT ProductName, QuantityOnHand
FROM Products;
'''

In [33]:
df = pd.read_sql(products_sql, engine)

In [34]:
df

                              ProductName  QuantityOnHand
0                 Trek 9000 Mountain Bike               6
1                Eagle FS-3 Mountain Bike               8
2                   Dog Ear Cyclecomputer              20
3          Victoria Pro All Weather Tires              20
4            Dog Ear Helmet Mount Mirrors              12
5                  Viscount Mountain Bike               5
6   Viscount C-500 Wireless Bike Computer              30
7         Kryptonite Advanced 2000 U-Lock              20
8                 Nikoma Lok-Tight U-Lock              12
9              Viscount Microshell Helmet              20
10                 GT RTS-2 Mountain Bike               5
11                 Shinoman 105 SC Brakes              16
12              Shinoman Dura-Ace Headset              20
13           Eagle SA-120 Clipless Pedals              20
14               ProFormance Toe-Klips 2G              40
15      ProFormance ATB All-Terrain Pedal              40
16            Shinoman Deluxe TX-30 Pedal              60
17       Viscount CardioSport Sport Watch              12
18    Viscount Tru-Beat Heart Transmitter              20
19            Dog Ear Monster Grip Gloves              30
20           Dog Ear Aero-Flow Floor Pump              25
21                Pro-Sport 'Dillo Shades              18
22                  Ultra-Pro Rain Jacket              30
23                   StaDry Cycling Pants              22
24                      King Cobra Helmet              30
25           Glide-O-Matic Cycling Helmet              24
26                X-Pro All Weather Tires              20
27                       Turbo Twin Tires              18
28              Ultra-2K Competition Tire              22
29               Clear Shade 85-T Glasses              14
30           True Grip Competition Gloves              20
31          Kool-Breeze Rocket Top Jersey              12
32                Wonder Wool Cycle Socks              30
33                 TransPort Bicycle Rack              14
34                     HP Deluxe Panniers              10
35       Cosmic Elite Road Warrior Wheels              22
36                     AeroFlo ATB Wheels              40
37             Cycle-Doc Pro Repair Stand              12
38                Road Warrior Hitch Pack               6
39            Ultimate Export 2G Car Rack               8

In [28]:
type(df)

pandas.core.frame.DataFrame

In [29]:
type(products_sql)

str

In [31]:
df.to_csv('all_products.csv', index=False)

# Low Inventory Products

In [35]:
df[df['QuantityOnHand'] < 10]

                    ProductName  QuantityOnHand
0       Trek 9000 Mountain Bike               6
1      Eagle FS-3 Mountain Bike               8
5        Viscount Mountain Bike               5
10       GT RTS-2 Mountain Bike               5
38      Road Warrior Hitch Pack               6
39  Ultimate Export 2G Car Rack               8

In [36]:
df.query('QuantityOnHand < 10')

                    ProductName  QuantityOnHand
0       Trek 9000 Mountain Bike               6
1      Eagle FS-3 Mountain Bike               8
5        Viscount Mountain Bike               5
10       GT RTS-2 Mountain Bike               5
38      Road Warrior Hitch Pack               6
39  Ultimate Export 2G Car Rack               8

In [37]:
df_low_inv_prods = df.query('QuantityOnHand < 10')

In [38]:
df_low_inv_prods

                    ProductName  QuantityOnHand
0       Trek 9000 Mountain Bike               6
1      Eagle FS-3 Mountain Bike               8
5        Viscount Mountain Bike               5
10       GT RTS-2 Mountain Bike               5
38      Road Warrior Hitch Pack               6
39  Ultimate Export 2G Car Rack               8

In [40]:
df_low_inv_prods.to_csv('low_inventory_products.csv', index=False)